.navbar-brand {
    font-family: 'Lobster', cursive !important;
    font-size: 36px;
}

.button-container {
    position: relative; /* Alterado para evitar problemas de posicionamento */
    top: 23px;
    right: 10px;
}

.custom-btn {
    margin-left: 10px;
}

.bg-pastel-light-green {
    background-color: rgba(144, 238, 144, 0.8);
}

.btn-primary {
    background-color: #a8d5ba;
    border-color: #a8d5ba;
    visibility: visible !important; /* Garantir visibilidade */
    opacity: 1 !important; /* Garantir opacidade */
    z-index: 10; /* Garantir que esteja acima de outros elementos */
    position: relative; /* Evitar conflitos de posição */
}

.btn-primary:hover {
    background-color: #8abf9d;
    border-color: #8abf9d;
}

.bg-light {
    background-color: #f8f9fa;
}

.full-height {
    height: 100vh;
}

.text-center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
}

.bg-pastel-yellow {
    background-color: #f3e5ab;
    /* Altere para uma cor mais visível */
}

.bg-pastel-dark-beige {
    background-color: #d9c5a1;
    /* Alterei para uma cor mais visível */
}

/* Ajuste do layout do último container */
.social-links a {
    font-size: 24px;
    /* Aumentando o tamanho dos ícones */
}

.bg-pastel-light-blue {
    background-color: rgba(173, 216, 230, 0.8); /* Azul pastel */
}
